<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Sign In</title>
</head>
<body>



<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="" th:href="@{/}">Cognitive Test</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="" th:href="@{/}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/" th:href="@{/registration}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        </ul>
    </div>
</nav>


<div th:if="${param.logout}" align="center">
    <div class="alert alert-success">
        You've <strong>successfully</strong> logged out!
    </div>
</div>




<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Login page</h1>
            <form th:action="@{/login}" method="post">
                <div th:text="${#httpServletRequest.getParameter('username')}"
                     th:unless="${#httpServletRequest.getParameter('password') == null}">
                    faild login
                </div>

                <div th:text="${#httpServletRequest.getParameter('error')}"
                     th:unless="${#httpServletRequest.getParameter('error') == null}">
                    faild logout
                </div>
                <div class="form-group">
                    <label for="username">Username</label>:
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Password"/>
                </div>



                <div class="form-group">
                    <label>
                        <input id="remember-me"
                               name="remember-me"
                               type="checkbox"/> Remember me
                    </label>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="form-control btn btn-info"
                                   value="Log In"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
                </div>
            </form>
        </div>
    </div>


</div>



</body>
</html>