<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>



    />






<body>



</body>
</head>


<body>

<div class="container" align="center">
    <h1 style="color: cadetblue" >Ur Test is done! Press On Finish to save the result! </h1>

    <div id="test" class="h1">This will be hidden on finish button</div>

    <button id="finish" type="submit" class="primary submit-btn" style="border: #a94442"  >Finish</button>

</div>


<script src="/js/main.js"></script>

</body>

</html>