<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>


    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Upload Files</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/main.js}"></script>
    <link rel="stylesheet" href="/static/css/main.css"/>

<body>
<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
    Description: <br/>
    <input type="text" name="description" style="width:350px;"/>
    <br/><br/>
    File to upload (1): <input type="file" name="files"/><br/>
    File to upload (2): <input type="file" name="files"/><br/>
    File to upload (3): <input type="file" name="files"/><br/>
    File to upload (4): <input type="file" name="files"/><br/>
    File to upload (5): <input type="file" name="files"/><br/>
    <input type="submit" value="Submit" id="submitButton"/>
</form>
<h2>Upload Results:</h2>
<div style="border:1px solid #ccc;padding: 5px;">
    <span id="result"></span>
</div>

</body>
</html>