<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <title>Partners</title>
</head>
<body>


<div class="container" align="center">


    <div th:if="${param.success}">
        <div class="alert alert-success">
            You've <strong>successfully</strong> deleted <span th:text="${user.getFirstName()}"></span>'s account!
        </div>
    </div>


    <div th:switch="${partners}">
        <h2 th:case="null">No partners found</h2>

        <div>
            <h2>Partners</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="partner : ${partners}">
                    <td th:text="${partner.getFirstName()} + ' ' + ${partner.getLastName()}"></td>
                    <td>
                        <a href="" th:href="@{/user/super/view_partners/admins/{id} (id=${partner.getId()})}"
                           th:text="${partner.getEmail()}"> </a>
                    </td>

                    <td>
                        <button type="button" class="btn btn-outline-secondary"><a
                                th:href="@{/user/super/edit/{id} (id = ${partner.getId()})}">Update</a></button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger"><a
                                th:href="@{/user/super/delete_partner/{id} (id = ${partner.getId()})}">Delete</a>
                        </button>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


<p>
    <span><a href="/" th:href="@{/user/super/dashboard}">Back to dashboard</a></span>
</p>

</body>
</html>